/* SCSS HEX */
/* Font Families */
.kalam-light {
  font-family: "Kalam", cursive;
  font-weight: 300;
}

.kalam-regular {
  font-family: "Kalam", cursive;
  font-weight: 400;
}

.kalam-bold {
  font-family: "Kalam", cursive;
  font-weight: 700;
}

/* Body Styling */
body {
  background-color: #efe6d4;
}

/* Header Styling */
header {
  font-family: "Kalam", cursive;
  font-weight: 700;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  max-width: 1500px;
}

header h1 {
  font-size: 2.5em;
  margin: 20px 0;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  letter-spacing: 2px;
}

/* Button Styling */
.link-button {
  display: flex;
  justify-content: center;
  gap: 20px;
  background-color: #aac9cc;
  color: white;
  border: none;
  padding: 5px 40px;
  font-size: 1em;
  border-radius: 50px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-decoration: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
.link-button a {
  text-decoration: none;
}
.link-button:hover {
  background-color: #8ab5b9;
}
.link-button.how-to-help {
  background-color: #ffa07a;
}
.link-button.how-to-help:hover {
  background-color: #ff7c47;
}

/* Content Styling */
.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 40px;
  margin: 0 auto;
  max-width: 1500px;
}

.content-box {
  width: 400px;
  border-radius: 5px;
  box-shadow: 0 0 2px #000;
  height: 500px;
  border: 1px solid grey;
  position: relative;
}

.content-cat-image {
  position: absolute;
  width: 50px; /* Adjust as necessary */
  height: 50px; /* Adjust as necessary */
}

.top {
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.side {
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.bottom {
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.overhang-cat-leftside::before {
  content: "";
  position: relative;
  width: 150px;
  height: 150px;
  background-image: url(images/overhang_cat.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  transform: translateY(-65%);
  /* left: -18%; */
  display: block;
}

.overhang-cat-rightside::before {
  content: "";
  position: relative;
  width: 150px;
  height: 150px;
  background-image: url(images/overhang_cat.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  transform: translateY(-65%);
  left: 60%;
  display: block;
}

.bottom-right-orange::after {
  content: "";
  position: relative;
  width: 200px;
  height: 200px;
  background-image: url(images/orange_stare_cat.png);
  background-size: cover;
  background-position: center;
  left: 50%;
  top: 60%;
  display: block;
}

.bottom-orange::before {
  content: "";
  position: relative;
  width: 200px;
  height: 200px;
  background-image: url(images/orange_weird_cat.png);
  background-size: cover;
  background-position: center;
  left: 25%;
  top: 60%;
  display: block;
}

.bottom-blue::after {
  content: "";
  position: relative;
  width: 200px;
  height: 200px;
  background-image: url(images/blue_cartoon.png);
  background-size: cover;
  background-position: center;
  left: 25%;
  top: 60%;
  display: block;
}

.overhang-image {
  position: absolute;
  top: -50%; /* Move the image halfway out of the div */
  left: 50%;
  transform: translateX(-50%);
  width: auto; /* Adjust the width or height as necessary */
  height: auto; /* Adjust the width or height as necessary */
}



/*# sourceMappingURL=styles.css.map */
